<div class="container mt-4">
    <h1 class="text-center">Actulaizar Marca</h1>
    <form [formGroup]="FormMarca" (submit)="Enviar(FormMarca.value)"> 
        <div class="form-floating mb-3">
        <input formControlName="Nombre" type="text" class="form-control" id="MarcaNuevo" value="{{ datosMarca }}" placeholder="MarcaNuevo">
        <label for="MarcaNuevo">Nuevo Marca</label>
        </div>
        <div *ngIf="FormMarca.value.Nombre == ''">
            <p class="text-center alert alert-danger">El Campo No Puede Estar Vacio</p>
        </div>
        <div class="d-grid gap-2" *ngIf="FormMarca.value.Nombre == ''; else Escribio">
            <button class="btn btn-primary text-dark" disabled id="Marca" type="submit">Enviar</button>        
        </div>
        <ng-template #Escribio>
            <div class="d-grid gap-2">
                <button class="btn btn-primary text-dark" id="Marca" type="submit">Enviar</button>
            </div>
        </ng-template>
    </form>
</div>