<div class="container mt-4">
    <h1 class="text-center">Agregar Nuevo Combustible</h1>
    <form [formGroup]="FormCombustible" (submit)="Enviar(FormCombustible.value)"> 
        <div class="form-floating mb-3">
            <input formControlName="Nombre" type="text" class="form-control" id="Combustible" placeholder="Combustible">
            <label for="Combustible">Nuevo Combustible</label>
        </div>
        <div *ngIf="FormCombustible.value.Nombre == ''">
            <p class="text-center alert alert-danger">El Campo No Puede Estar Vacio</p>
        </div>
        <div class="d-grid gap-2" *ngIf="FormCombustible.value.Nombre == ''; else Escribio">
            <button class="btn btn-primary text-dark" disabled id="Combustible" type="submit">Enviar</button>        
        </div>
        <ng-template #Escribio>
            <div class="d-grid gap-2">
                <button class="btn btn-primary text-dark" id="Combustible" type="submit">Enviar</button>
            </div>
        </ng-template>
    </form>
</div>