<div class="container mt-5">
  <h1 class="text-center">Todos Los Vehiculoes               
  </h1>
  <button type="button" class="btn btn-success m-2" routerLink="../FormVehiculo">Agregar Nuevo Vehiculo</button>
  <table class="table table-hover table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
        <th scope="col">Kilometraje</th>
        <th scope="col">Color</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="DatosVehiculo">
        <tr *ngFor="let Vehiculo of DatosVehiculo; let i = index;">
        <th scope="row">{{i}}</th>
          <td>{{ Vehiculo.Modelo.nombre_modelo }}</td>
          <td>{{Vehiculo.Modelo.Marca.nombre_marca}}</td>
          <td>${{Vehiculo.precio}}.00 mx</td>
          <td>{{Vehiculo.kilometraje}} Kms</td>
          <td>{{Vehiculo.Color.nombre_color}}</td  >
  
          <td>
              <button type="button" class="btn btn-success me-1" [routerLink]="['../Editar/Vehiculo/', Vehiculo.id]">Editar</button>
              <button type="button" class="btn btn-danger ms-1" (click)="Eliminar(Vehiculo.id)">Eliminar</button>
              <button type="button" class="btn btn-success ms-2" [routerLink]="['../Comentarios/Vehiculo/', Vehiculo.id]">Comentarios</button>
          </td>
        </tr>
    </tbody>
</table>
</div>