<div  class="offcanvas offcanvas-start text-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div id="canvasOff1" class="offcanvas-header">
      <h5 class="offcanvas-title " id="offcanvasExampleLabel">Menu Lateral</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="canvasOff2" class="offcanvas-body text-dark">
      <div class="text-center">
        <img src="../../assets/img/user.png" class="img-thumbnail" style="width: 50%;" alt="...">
      </div>
      <div class="text-center m-5">
        Bienvendio: {{ getUserName() }}
      </div>
      <div *ngIf="getToke() == false ? true : false">
        <div class="d-grid gap-2 mt-5">
          <button class="btn btn-outline-dark" type="button" routerLink="../login">Iniciar Sesion</button>
          <button class="btn btn-outline-dark" type="button" routerLink="../registrarse">Registrarse</button>
        </div>
      </div>

      <div *ngIf="getTipo() == 'Cliente' ? true : false">
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" [routerLink]="['../Vehiculos/CarritoCompra/', UserId]">Carrito De Compras</button>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" [routerLink]="['../Vehiculos/Citas/', UserId]">Citas</button>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" [routerLink]="['../Vehiculos/Compras/', UserId]">Compras</button>
        </div>
        <!-- <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" [routerLink]="['../Vehiculos/Apartados/', UserId]">Apartados</button>
        </div> -->
      </div>


      <div *ngIf="getTipo() == 'Administrador' ? true : false">
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" routerLink="../Dashboard">Dashbord</button>
        </div>
      </div>

      <div *ngIf="!getToke() == false ? true : false">
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-danger" type="button" routerLink="../registrar" (click)="sesionCerrar()">Cerrar Sesion</button>
        </div>
      </div>



    </div>
  </div>
  {{getDatos()}}


