<div class="container">
    <h1 class="text-center mt-5">Calificar El Vehiculo</h1>
    <div class="abs-center">
        <div class="row">
            <div class="col">
             <button type="button" class="btn btn-outline-dark ms-2  btn-lg" value=1 (click)="Calificar(1)">1</button>
             <button type="button" class="btn btn-outline-dark ms-2  btn-lg" value=2 (click)="Calificar(2)">2</button>
             <button type="button" class="btn btn-outline-dark ms-2  btn-lg" value=3 (click)="Calificar(3)">3</button>
             <button type="button" class="btn btn-outline-dark ms-2  btn-lg" value=4 (click)="Calificar(4)">4</button>
             <button type="button" class="btn btn-outline-dark ms-2  btn-lg" value=5 (click)="Calificar(5)">5</button>
            </div>
        </div>
     </div>
     <P class="text-center">De Click Para Calificar El Vehiculo Con Su Puntuacion</P>
</div>