<div class="container mt-4">
    <h1 class="text-center">Actulaizar Color</h1>
    <form [formGroup]="FormColor" (submit)="Enviar(FormColor.value)"> 
        <div class="form-floating mb-3">
        <input formControlName="Nombre" type="text" class="form-control" id="ColorNuevo" value="{{ datosColor }}" placeholder="ColorNuevo">
        <label for="ColorNuevo">Nuevo Color</label>
        </div>
        <div *ngIf="FormColor.value.Nombre == ''">
            <p class="text-center alert alert-danger">El Campo No Puede Estar Vacio</p>
        </div>
        <div class="d-grid gap-2" *ngIf="FormColor.value.Nombre == ''; else Escribio">
            <button class="btn btn-primary text-dark" disabled id="color" type="submit">Enviar</button>        
        </div>
        <ng-template #Escribio>
            <div class="d-grid gap-2">
                <button class="btn btn-primary text-dark" id="color" type="submit">Enviar</button>
            </div>
        </ng-template>
    </form>
</div>