<div class="container">
    <h1 class="text-center mt-3">Fromularios</h1>


    <div class="row mb-4">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormVehiculo">Agregar Vehiculo</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormMarca">Agregar Marca</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormModelo">Agregar Modelo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormTipo">Agregar Tipo</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormTransmicion">Agregar Transmicion</button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormColor">Agregar Color</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormCombustible">Agregar Combusible</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../FormVehiculo">Agregar Vehiculo</button>
            </div>
        </div>
    </div>


</div>