<div class="container-fluid" style="padding:5%; background-color: rgb(4, 32, 44);">
    <div class="row">
      <div class="col-md-6">
        
          <div style="color: azure;" id="texto">
            <h1>Quienes somos?</h1>
            <h4> <p>Es un sitio de internet que busca atraer a todas las personas interesadas en comprar automóviles, 
                motocicletas, camiones o cualquier tipo de vehículo, ofreciendo una cartera de servicios que constantemente se expande y diversifica

                Esto nos permite crecer conforme a las necesidades cambiantes de nuestros clientes: particulares, lotes, 
                concesionarios y marcas para brindarles asistencia durante cada paso del proceso y ayudarlos a impulsar la venta de autos</p></h4>
                <img style="padding: 2%;" width="80%" height="50%" src="assets/img/persons-row.png">
          </div>
         
        </div>

      <div  class="col-md-6">
          <img class="card-img-top" src="assets/img/ppp.png"> 
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding:5%; background-color: rgb(12, 85, 116);">
  
    <div class=" text-center" style=" size: 3cm; color: rgb(4, 32, 44);" ><h1>Valores</h1></div> <br><br>
    <div class="row">
        <div class="col-md-3 text-center">  <img src="assets/img/v01.png" width="120" height="120" alt="">
        <h3>Creatividad</h3>
          
        </div>
        <div class="col-md-3 text-center">  <img src="assets/img/v02.png" width="120" height="120"  alt="">
            <h3>Espiritu Creativo</h3>
            
        </div>
        <div class="col-md-3 text-center">  <img src="assets/img/v3.png" width="120" height="120"  alt="">
             <h3>Integridad </h3>
       </div>
       <div class="col-md-3 text-center" >  <img src="assets/img/v04.png" width="120" height="120"  alt="">
        <h3>Excelencia</h3>
        </div>