<div class="container">
    <h1 class="text-center mt-3">Listados</h1>


    <div class="row mb-4">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListVehiculos">Listado De Vehiculos</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListApartados">Listado De Apartados</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListCitas">Listado De Citas</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListColores">Listado De Colores</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListCombustibles">Listado De Combustibles</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListTipos">Listado De Tipos</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListTransmiciones">Listado De Transmiciones</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListModelos">Listado De Modelos</button>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListMarcas">Listado De Marcas</button>
            </div>
        </div>
    </div>

    
    <div class="row mt-4">
        <div class="col">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" routerLink="../ListOrdenes">Listado De Ventas</button>
            </div>
        </div>
    </div>


</div>